body{
    background-image: ;
}

.full-page {
    background-image: url
    ("https://images.unsplash.com/photo-1507752533523-5186b0bc4c43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}


/* body{
    background-color: blue;
} */